{% extends 'layout.html' %}
{% block content %}

<section class="feed">
    <h6>[feed]</h6>
    <ul>
        {% for tweet in tweets %}
            <li class="tweet">
                {{ tweet['text'] }}
                <div class="meta">{{ tweet['id'] }} | @{{ tweet['user'] }} | ♻ {{ tweet['retweet_count'] }} | ★ {{ tweet['favorite_count'] }}</div>
            </li>
        {% endfor %}
    </ul>
</section>

<script data-main="/js/feed" src="/js/vendor/bower/requirejs/require.js"></script>

{% endblock %}
